@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root{
 --clr-dark-blue: hsl(209, 23%, 22%);
 --clr-very-dark-blue-background: hsl(207, 26%, 17%);
 --clr-very-dark-blue-text: hsl(200, 15%, 8%);
 --clr-dark-gray: hsl(0, 0%, 52%);
 --clr-very-light-gray: hsl(0, 0%, 98%);
 --clr-white: hsl(0, 0%, 100%);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--clr-very-light-gray);
}


button.btn:focus{
  background-color: var(--clr-dark-gray);

}

div.card{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

/* light theme */
input.form-control, button.btn{
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
}

body{
  background-color: var(--clr-very-light-gray);
  color: var(--clr-very-dark-blue-text);
}

/* dark theme */
body.dark{
  background-color: var(--clr-very-dark-blue-background);
  color: var(--clr-very-light-gray)
}

input.form-control.dark, button.btn.dark{
  border: none;
  background-color: var(--clr-dark-gray);
}





